body {
  font-family: sans-serif;
}

.nav{
  position: fixed;
}

.pages{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 79px);
  margin-left: 79px;
}

.page{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}